@model Restaurant.Web.Models.Order.View.OrderHeaderViewModel

@using (Html.BeginForm("Amend", "Orders", FormMethod.Post,
    new
    {
        @class = "row div-table-row",
        @data_toggle = "collapse",
        @data_target = "#item" + @Model.Id
    }))
{

    <div class="col">@Html.DisplayFor(m => m.TableNumber)</div>
    <div class="col">@Html.DisplayFor(m => m.Price)</div>
    <div class="col">@Html.DisplayFor(m => m.CreatedAt)</div>
    <div class="col">@Html.DisplayFor(m => m.LastModifiedAt)</div>
    <div class="col">@Html.DisplayFor(m => m.OrderState)</div>
    <div class="col">@Html.DisplayFor(m => m.UserName)</div>
    <input type="hidden" name="tableNumber" value="@Model.TableNumber" />
    <input type="hidden" name="price" value="@Model.Price" />
    <input type="hidden" name="createdAt" value="@Model.CreatedAt" />
    <input type="hidden" name="lastModifiedAt" value="@Model.LastModifiedAt" />
    <input type="hidden" name="orderState" value="@Model.OrderState" />
    <input type="hidden" name="userName" value="@Model.UserName" />
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="col d-flex align-items-center"><input type="submit" value="Детали" /></div>
}
