@model Restaurant.Web.Models.Order.View.OrderViewModel

@using (Html.BeginForm("Details", "Orders", FormMethod.Get,
    new
    {
        @class = "row div-table-row",
        @data_toggle = "collapse",
        @data_target = "#item" + @Model.Id
    }))
{

    <div class="col">@Html.DisplayFor(m => m.TableNumber)</div>
    <div class="col">@Html.DisplayFor(m => m.Price)</div>
    <div class="col">@Html.DisplayFor(m => m.CreatedAt)</div>
    <div class="col">@Html.DisplayFor(m => m.LastModifiedAt)</div>
    <div class="col">@Html.DisplayFor(m => m.OrderState)</div>
    <div class="col">@Html.DisplayFor(m => m.UserName)</div>
    
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="col d-flex align-items-center"><input type="submit" value="Детали" /></div>
}
@if (@Model.OrderParts.Count > 0)
{
    <table class="table collapse" id="item@(Model.Id)">
        <tr class="row menu-table-head">
            <th class="col-sm">Блюдо</th>
            <th class="col-sm">Количество</th>
            <th class="col-sm">Цена</th>
        </tr>
        @foreach (var dishPart in Model.OrderParts)
        {
            <tr class="row">
                <td class="col-sm">@dishPart.Name</td>
                <td class="col-sm">@dishPart.Quantity</td>
                <td class="col-sm">@dishPart.Price</td>
            </tr>
        }
    </table>
}