@model Restaurant.Web.Models.Order.View.NewOrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Новый заказ";
}

    <div class="jumbotron" style="background-image:url(../../Content/images/new-order-background.jpg)">
        <div class="highlighter">
            <h1>Новый заказ</h1>
        </div>
    </div>
@using (Html.BeginForm("Add", "Orders", FormMethod.Post))
{
    <div class="div-table-filter">
        @Html.LabelFor(m => m.TableNumber)
        @Html.TextBoxFor(m => m.TableNumber, new
   {
       @id = "tableNumber",
       @type = "number",
       @min = "1",
       @step = "1",
       @max = "20"
   })
        <input type="button" id="send" value="Оформить заказ" style="width:100%; float:right" />
    </div>
    <table style="width:100%" id="dishesTable" class="table table-striped">
        <thead class="div-table-head">
            <tr>
                <th>Блюдо</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: orderPartsList">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Price"></td>
                <td><input type="number" min="0" step="1" data-bind="text: Quantity" /></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot class="div-table-head">
            <tr>
                <th></th>
                <th></th>
                <th>Итого:</th>
                <th id="total"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
        <input type="button" data-toggle="collapse" data-target="#menu" value="Меню"/>
        <table id="menu" class="collapse">
            <thead>
                <tr class="menu-table-head">
                    <th>Блюдо</th>
                    <th>Цена</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: dishesList">
                <tr class="menu-table-row" data-bind="click: $root.addToOrder">
                    <td data-bind="text:Name"></td>
                    <td data-bind="text:Price"></td>
                    <td data-bind="text:Description"></td>
                </tr>
            </tbody>
        </table>
}
<script type="text/javascript">
    var viewModel = {
        dishesList: ko.observableArray(@Html.Raw(Json.Encode(Model.AllDishes))),
        orderPartsList: ko.observableArray(@Html.Raw(Json.Encode(Model.OrderParts))),
        tableNumber: @Html.Raw(Json.Encode(Model.TableNumber)),
        addToOrder: function (dish) {
            console.log(this);
            if (typeof orderPartsList() === 'undefined') {
                order = ko.observableArray([{
                    Dish: dish,
                    Quantity: 0
                }]);
            }
            else {
                orderPartsList().push({
                    Dish: dish,
                    Quantity: 0,
                });
            }
        },
    }
    ko.applyBindings(viewModel);
    
</script>