@model Restaurant.Web.Models.Order.View.OrderListViewModel
@{
    ViewBag.Title = "Заказы";
}

<div class="jumbotron">
    <h1>Список заказов</h1>
    @using (Html.BeginForm("Add", "Order"))
    {
        <input type="submit" value="Добавить" formaction=@Url.Action("Add") formmethod="get" />
    }
</div>
<div class="row">
    <div style="width:100%">
        <div class="row">
            @Html.Label("Номер столика", new { @class = "col-sm" })
            @Html.Label("К оплате", new { @class = "col-sm" })
            @Html.Label("Создан", new { @class = "col-sm" })
            @Html.Label("Изменён", new { @class = "col-sm" })
            @Html.Label("Статус", new { @class = "col-sm" })
            @Html.Label("Официант", new { @class = "col-sm" })
            @Html.Label("Действия", new { @class = "col-sm" })
        </div>
        @foreach (var order in @Model.OrderList)
        {
            Html.RenderPartial("~/Views/Orders/Partial/OrderPartialView.cshtml", order);
        }
    </div>
</div>